<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/public/stylesheets/style.css">
    </head>

    <body>
        <section>
            <h1>{{ fullTitle }}</h1>
        </section>
        <section class={{ engTitle }}>
            {{{ body }}}
        </section>
    </body>
</html>